head{
  width: 100%;
  background: #4831d4 67%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: #ccf381;
    text-decoration: none;
    font-weight: bold;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  
  .nav-links a.active {
    border-bottom: 2px solid #00bcd4;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  